<ion-view id="pickWords"  title="Dashboard" >
	<ion-header-bar align-title="left" class="bar-positive" no-tap-scroll="true">
	  <div class="buttons">
	    <button class="button" ng-click="doSomething()"> << </button>
	  </div>
	  <h1 class="title">Title!</h1>
	  <div class="buttons">
	    <button class="button">Right Button</button>
	  </div>
	</ion-header-bar>

	<ion-content>

<!-- 		<ion-list>
			<ion-item ng-repeat="item in pickWords.data.items">{{item.title}}</ion-item>
		</ion-list>
 -->
<li class="item">words (1    -  249)</li>
<li class="item">words (250  -  499)</li>
<li class="item">words (500  -  649)</li>
<li class="item">words (750  -  999)</li>
<li class="item">words (1000 - 1249)</li>
<li class="item">words (1250 - 1499)</li>
<li class="item">words (1500 - 1749)</li>
<li class="item">words (1750 - 1999)</li>
<li class="item">words (2000 - 2249)</li>
<li class="item">words (2250 - 2499)</li>
<li class="item">words (2500 - 2749)</li>
<li class="item">words (2750 - 2999)</li>
<li class="item">words (3000 - 3249)</li>
<li class="item">words (3250 - 3499)</li>
<li class="item">words (3500 - 3749)</li>
<li class="item">words (3750 - 3999)</li>
<li class="item">words (4000 - 4249)</li>
<li class="item">words (4250 - 4499)</li>
<li class="item">words (4500 - 4749)</li>
<li class="item">words (4750 - 4999)</li>
</ul>


	</ion-content>
</ion-view>
